main {
  font-family: Menlo, monospace;
}

ul {
  padding: 0 !important;
  margin: 0 !important;
}

.main {
  display: grid;
  grid-row: main;
  grid-template-columns: [margin] 2rem [left] 1fr [right] 2fr;
  overflow: hidden;
}

.margin {
  grid-column: margin;
  background: linear-gradient(#f7f7f7, #e2e2e2);
  border-right: 1px solid #d0d0d0;
  display: flex;
  justify-content: center;
}

.left {
  grid-column: left;
  border-right: 20px solid #F7F7F7;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: [top] 1fr [bottom] 1fr;
}

.top-bar {
  background: linear-gradient(#f7f7f7, #e2e2e2);
  border-bottom: 1px solid #d0d0d0;
  display: flex;
  align-items: center;
  padding-left: 2rem;
}

.right {
  grid-column: right;
  overflow: scroll;
  height: 100%;
}

.right > div {
}

.top {
  grid-row: top;
  border-bottom: 10px solid #F7F7F7;
}

.bottom {
  grid-row: bottom;
}

.top,
.bottom,
.right {
  padding: .5rem;
}

svg {
  font-size: 1rem;  
}

html,
body,
div,
a,
i,
button,
select,
option,
optgroup,
hr,
br {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}


.treeview > .toggle {
  pointer-events: all;
  cursor: pointer;
}
.treeview > .toggle:hover {
  color: #77eb67;
  fill: #77eb67;
}

.field {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.root {
  font-weight: 400;
  color: #36454F;
  font-family: "Lucida Console", Monaco, monospace;
}

.fieldname, .colon {
  color: rgb(136, 19, 145);
  padding: 0.0625rem;

}

.value {
  color: rgb(196, 26, 22);
  padding: 0.0625rem;
}

.angle {
  margin-left: -1rem;
}

.type {
  color: #222;
  position: relative;
  top: 6px;
  font-size: 1rem;
  font-size: 10px;
  text-transform: lowercase;
}

.colon {
  margin-right: 2px;
}

.type-label {
  display: flex;
  color: #000;
  font-family: "Lucida Console", Monaco, monospace
}

.type-label :first-child {
  margin-right: .25rem;
}

.meta {
  display: inline-block;
  padding: 0 .5rem;
  width: 80%;
}

.right ul {
  height: 100%;
}

#cy {
  position: relative;
  width: auto;
  height: 90%;
  z-index: 999;
  margin-left: 290px;
  right: 0px;
}
