.treeview > .toggle {
  pointer-events: all;
  cursor: pointer;
}

.field {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.root {
  font-weight: 400;
  color: #36454F;
  font-family: "Lucida Console", Monaco, monospace;
}

.fieldname, .colon {
  color: rgb(136, 19, 145);
  padding: 0.0625rem;

}

.value {
  color: rgb(196, 26, 22);
  padding: 0.0625rem;
}

.angle {
  margin-left: -1rem;
}

.type {
  color: #222;
  position: relative;
  top: 6px;
  font-size: 1rem;
  font-size: 10px;
  text-transform: lowercase;
}

.colon {
  margin-right: 2px;
}

.type-label {
  display: flex;
  color: #000;
  font-family: "Lucida Console", Monaco, monospace
}

.type-label :first-child {
  margin-right: .25rem;
}
