main {
  font-family: "Monospaced Number", "Chinese Quote", -apple-system,
  BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB",
  "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.main {
  display: grid;
  grid-row: main;
  grid-template-columns: [margin] 2rem [left] 1fr [right] 2fr;
  overflow: hidden;
}

.margin {
  grid-column: margin;
  background: linear-gradient(#f7f7f7, #e2e2e2);
  border-right: 1px solid #d0d0d0;
  display: flex;
  justify-content: center;
}

.left {
  grid-column: left;
  border-right: 20px solid #F7F7F7;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: [top] 1fr [bottom] 1fr;
}

.top-bar {
  background: linear-gradient(#f7f7f7, #e2e2e2);
  border-bottom: 1px solid #d0d0d0;
  display: flex;
  align-items: center;
  padding-left: 2rem;
}

.right {
  grid-column: right;
  overflow: scroll;
  height: 100%;
}

.right > div {
}

.top {
  grid-row: top;
  border-bottom: 10px solid #F7F7F7;
}

.bottom {
  grid-row: bottom;
}

.top,
.bottom,
.right {
  padding: .5rem;
}

svg {
  font-size: 1rem;  
}

html,
body,
div,
a,
i,
button,
select,
option,
optgroup,
hr,
br {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}


.treeview > .toggle {
  pointer-events: all;
  cursor: pointer;
}
.treeview > .toggle:hover {
  color: #77eb67;
  fill: #77eb67;
}

.sub-meta thead tr th {
  font-weight: 900;
  /* background: #ea6153; */
  /* background: linear-gradient(#f7f7f7, #e2e2e2); */
  text-align: left;
}

.sub-meta tbody tr td, .sub-meta thead th {
  padding: .5rem;
}

.sub-meta table, .sub-meta table th, .sub-meta table td {
  /* border: 1px solid #e2e2e2; */
}

.sub-meta th {
  background: #f7f7f7;
}

.meta {
  display: inline-block;
  /* background: #27ae60; */
  /* background: linear-gradient(#f7f7f7, #e2e2e2); */
  padding: 0 .5rem;
  width: 80%;
}
