*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  position: relative;
}

body {
  margin: 0;
}

html, body, #root, main {
  height: 100%;
}


main {
  display: grid;
  border-style: solid;
  grid-template-rows: [top-bar] 3rem [main] 1fr;
  grid-template-columns: 1fr;
}

ul {
  list-style: none;
}
