---
type Props = {
	size: number;
};
const { size } = Astro.props as Props;
---

<svg
	class="logo"
	width={size}
	height={size}
	viewBox="0 0 256 256"
	fill="none"
	xmlns="http://www.w3.org/2000/svg"
>
	<style>
		#flame {
			fill: var(--theme-text-accent);
		}

		#a {
			fill: var(--theme-text-accent);
		}
	</style>
	<title>Logo</title>
<g>
	<g>
		<path d="M0,0v512h512V0H0z M31.347,31.347h365.714v31.347H31.347V31.347z M480.653,480.653H31.347V94.041h449.306V480.653z
			 M480.653,62.694h-52.245V31.347h52.245V62.694z"/>
	</g>
</g>
<g>
	<g>
		<path d="M256,125.388c-89.304,0-161.959,72.654-161.959,161.959S166.696,449.306,256,449.306s161.959-72.654,161.959-161.959
			S345.304,125.388,256,125.388z M126.331,303.02h41.248c1.796,35.597,9.689,68.792,22.681,94.775
			c0.572,1.143,1.154,2.265,1.741,3.373C156.594,381.182,131.394,345.156,126.331,303.02z M190.261,176.898
			c-12.991,25.984-20.884,59.179-22.681,94.775h-41.248c5.062-42.136,30.261-78.162,65.67-98.148
			C191.415,174.633,190.833,175.755,190.261,176.898z M240.327,412.269c-7.874-5.66-15.476-15.387-22.027-28.491
			c-10.912-21.824-17.611-50.067-19.318-80.757h41.346V412.269z M240.327,271.673h-41.346c1.708-30.691,8.406-58.933,19.318-80.757
			c6.551-13.104,14.153-22.83,22.027-28.491V271.673z M385.669,271.673H344.42c-1.796-35.597-9.689-68.792-22.681-94.775
			c-0.572-1.143-1.154-2.265-1.741-3.373C355.406,193.512,380.606,229.538,385.669,271.673z M293.701,383.777
			c-6.552,13.104-14.153,22.83-22.028,28.491V303.02h41.346C311.311,333.711,304.613,361.954,293.701,383.777z M271.673,271.673
			V162.425c7.874,5.66,15.476,15.387,22.028,28.491c10.912,21.824,17.611,50.067,19.318,80.757H271.673z M319.998,401.169
			c0.587-1.108,1.169-2.23,1.741-3.373c12.991-25.983,20.884-59.179,22.681-94.775h41.248
			C380.606,345.156,355.406,381.182,319.998,401.169z"/>
	</g>
</g>
</svg>
