*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  position: relative;
}

body {
  margin: 1rem;
}

html, body, #root, main {
  height: 100%;
}

ul {
  padding: 0 !important;
  margin: 0 !important;
}


main {
  font-family: Menlo, monospace;
  display: grid;
  border-style: solid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}

ul {
  list-style: none;
}
