*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  position: relative;
}

body {
  font-family: "Lucida Console", Monaco, monospace;
  margin: 0;
}

html, body, #root, main {
  height: 100%;
}

ul {
  padding: 0 !important;
  margin: 0 !important;
  margin-left: 0 !important;
  border: 0 !important;
}


main {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}

ul {
  list-style: none;
}
